/* body {
  zoom: 80%;
} */

.separately {
  page-break-inside: avoid;
}
.no-border {
  border: none;
}

.kotak {
  border: 1px solid black;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-size: 10pt;
}
/* .border-1 {
  thead tr th {
    border: 1px solid black;
  }

  tbody tr td {
    border: 1px solid black;
  }
} */
p {
  margin: 0;
}
@media print {
  table.nomor td:first-child {
    width: 20px; /* Adjust the width as needed */
  }
  body {
    font-family: "Times New Roman", Times, serif;
    margin: none;
    padding: none;
  }

  * {
    font-family: "Times New Roman", Times, serif;
    font-size: 10pt;
  }
  tr,
  p,
  ol > li {
    font-size: 10pt;
    margin: none;
    padding: none;
    /* margin-bottom: 0; */
    line-height: 1em;
  }
  @page {
    margin: 0;
    size: landscape;
  }
  .separately {
    page-break-inside: avoid;
  }

  .fit-content {
    width: auto;
  }
}
@media screen {
  body {
    width: 100%;
    max-width: 297mm; /* A4 width */
    max-height: 210mm;
    margin: 20mm; /* Margin for A4 */
    border: 1px solid #ccc; /* Border for A4 */
    padding: 5mm; /* Padding for A4 */
  }
}
