<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Warga - Kelor</title>
    <link href="/sb-admin-pro/css/styles.css" rel="stylesheet" />

    <link
      rel="icon"
      required
      type="image/x-icon"
      href="/sb-admin-pro/assets/img/favicon.png"
    />
    <script
      data-search-pseudo-elements
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="nav-fixed">
    <div id="layoutSidenav">
      <%- include('../../components/sidebars.html',{role: role}); -%>
      <div id="layoutSidenav_content" style="top: 0">
        <main>
          <header
            class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
          >
            <div class="container-xl px-4">
              <div class="page-header-content">
                <div
                  class="row align-items-center justify-content-between pt-3"
                >
                  <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                      <div class="page-header-icon">
                        <i data-feather="user"></i>
                      </div>
                      Tambah Data Warga
                    </h1>
                  </div>
                  <div class="col-12 col-xl-auto mb-3">
                    <a
                      class="btn btn-sm btn-light text-primary"
                      href="/residents"
                    >
                      <div class="me-1">
                        <i data-feather="arrow-left"></i>
                      </div>
                      Kembali ke Dashboard
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="container-xl px-4">
            <div class="row justify-content-center">
              <div class="col">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header justify-content-center">
                    <h3 class="fw-light my-4">Data Warga</h3>
                  </div>
                  <div class="card-body">
                    <div class="mb-3">
                      <div class="row">
                        <label class="small mb-1" for="no_kk"
                          >No Kartu Keluarga:</label
                        >
                        <div class="col-9">
                          <input
                            class="form-control"
                            id="no_kk"
                            type="number"
                            placeholder="Masukkan No Kartu Keluarga"
                          />
                        </div>

                        <div class="col-3">
                          <button
                            class="btn btn-warning"
                            id="btn-check-noKK"
                            type="submit"
                          >
                            Check
                          </button>
                        </div>
                      </div>
                    </div>
                    <form id="form-warga">
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-6">
                            <label class="small mb-1" for="nik">NIK</label
                            ><input
                              class="form-control"
                              id="nik"
                              required
                              type="number"
                              placeholder="cth :"
                            />
                          </div>
                          <div class="col-6">
                            <label class="small mb-1" for="nama"
                              >Nama Lengkap</label
                            ><input
                              class="form-control"
                              id="nama"
                              required
                              type="text"
                              placeholder="cth :"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="small mb-1" for="alamat_sebelum"
                          >Alamat sebelumnya</label
                        ><input
                          class="form-control"
                          id="alamat_sebelumnya"
                          required
                          type="text"
                          placeholder="cth :"
                        />
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-3">
                            <label class="small mb-1" for="tempat_lahir"
                              >Tempat Lahir </label
                            ><input
                              class="form-control"
                              id="tempat_lahir"
                              required
                              type="text"
                              placeholder="cth :"
                            />
                          </div>
                          <div class="col-3">
                            <label class="small mb-1" for="tanggal_lahir"
                              >Tgl. lahir</label
                            ><input
                              class="form-control"
                              id="tanggal_lahir"
                              required
                              type="date"
                              onchange="validate_date(this)"
                              placeholder="cth :"
                            />
                          </div>
                          <div class="col-3">
                            <label for="jenis_kelamin" class="small mb-1"
                              >Jenis Kelamin</label
                            ><select
                              id="jenis_kelamin"
                              class="form-select"
                              aria-label="Default select example"
                            >
                              <option selected disabled>
                                Pilih Jenis Kelamin:
                              </option>
                              <option value="Laki-laki">Laki - laki</option>
                              <option value="Perempuan">Perempuan</option>
                            </select>
                          </div>
                          <div class="col-3">
                            <label for="agama" class="small mb-1">Agama</label
                            ><select id="agama" class="form-select">
                              <option>Pilih Agama:</option>
                              <option value="Islam">Islam</option>
                              <option value="Kristen">Kristen</option>
                              <option value="Katolik">Katolik</option>
                              <option value="Hindu">Hindu</option>
                              <option value="Buddha">Buddha</option>
                              <option value="Konghucu">Konghucu</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-3">
                            <label class="small mb-1" for="golongan_darah"
                              >Golongan darah
                            </label>
                            <select id="golongan_darah" class="form-select">
                              <option value="-">-</option>
                              <option value="A">A</option>
                              <option value="B">B</option>
                              <option value="AB">AB</option>
                              <option value="O">O</option>
                              <option value="A+">A+</option>
                              <option value="A-">A-</option>
                              <option value="B+">B+</option>
                              <option value="B-">B-</option>
                              <option value="AB+">AB+</option>
                              <option value="AB-">AB-</option>
                              <option value="O+">O+</option>
                              <option value="O-">O-</option>
                            </select>
                          </div>
                          <div class="col-3">
                            <label class="small mb-1" for="status_keluarga"
                              >Status hubungan dlm keluarga </label
                            ><select class="form-select" id="status_keluarga">
                              <option value="Kepala Keluarga">
                                Kepala Keluarga
                              </option>
                              <option value="Suami">Suami</option>
                              <option value="Istri">Istri</option>
                              <option value="Anak">Anak</option>
                              <option value="Menantu">Menantu</option>
                              <option value="Cucu">Cucu</option>
                              <option value="Orangtua">Orangtua</option>
                              <option value="Mertua">Mertua</option>
                              <option value="Famili Lain">Famili Lain</option>
                              <option value="Pembantu">Pembantu</option>
                              <option value="Lainnya">Lainnya</option>
                            </select>
                          </div>
                          <div class="col-3">
                            <label class="small mb-1" for="pekerjaan"
                              >Pekerjaan</label
                            ><input
                              class="form-control"
                              id="pekerjaan"
                              required
                              type="text"
                              placeholder="cth :"
                            />
                          </div>
                          <div class="col-3">
                            <label class="small mb-1" for="pendidikan_terakhir"
                              >Pendidikan terakhir</label
                            >
                            <select
                              class="form-select"
                              id="pendidikan_terakhir"
                            >
                              <option value="Tidak / Belum Sekolah">
                                Tidak / Belum Sekolah
                              </option>
                              <option value="Belum Tamat SD / Sederajat">
                                Belum Tamat SD / Sederajat
                              </option>
                              <option value="Tamat SD / Sederajat">
                                Tamat SD / Sederajat
                              </option>
                              <option value="SLTP / Sederajat">
                                SLTP / Sederajat
                              </option>
                              <option value="SLTA / Sederajat">
                                SLTA / Sederajat
                              </option>
                              <option value="Diploma I / II">
                                Diploma I / II
                              </option>
                              <option
                                value="Akademi / Diploma III / Sarjana Muda"
                              >
                                Akademi / Diploma III / Sarjana Muda
                              </option>
                              <option value="Diploma IV / Strata I">
                                Diploma IV / Strata I
                              </option>
                              <option value="Strata II">Strata II</option>
                              <option value="Strata III">Strata III</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <h5 class="card-title">Data Surat</h5>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-6">
                            <label class="small mb-1" for="no_paspor"
                              >No. Paspor </label
                            ><input
                              class="form-control"
                              id="no_paspor"
                              type="text"
                              placeholder="cth :"
                            />
                          </div>
                          <div class="col-6">
                            <label
                              class="small mb-1"
                              for="tanggal_berakhir_paspor"
                              >Tgl. berakhir Paspor</label
                            ><input
                              class="form-control"
                              id="tanggal_berakhir_paspor"
                              type="date"
                              placeholder="cth :"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-6">
                            <label class="small mb-1" for="akta_lahir"
                              >Akta lahir/Surat lahir </label
                            ><input
                              class="form-control"
                              id="akta_lahir"
                              type="text"
                              placeholder="cth :"
                            />
                          </div>
                          <div class="col-6">
                            <label class="small mb-1" for="no_akte"
                              >Akte kelahiran/Surat Knal lhir
                            </label>
                            <select
                              name="no_akta_lahir"
                              id="no_akta_lahir"
                              class="form-select"
                            >
                              <option value="Tidak Ada">Tidak Ada</option>
                              <option value="Ada">Ada</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <h5 class="card-title">Data Status pernikahan</h5>

                      <div class="mb-3">
                        <div
                          class="btn-group d-flex justify-content-evenly"
                          role="group"
                          aria-label="Basic radio toggle button group"
                        >
                          <div>
                            <input
                              type="radio"
                              class="form-check-input"
                              name="status_pernikahan"
                              value="Belum kawin"
                              autocomplete="off"
                              checked
                            />
                            <label class="form-check-label" for="belumKawin"
                              >Belum kawin</label
                            >
                          </div>
                          <div>
                            <input
                              type="radio"
                              class="form-check-input"
                              name="status_pernikahan"
                              value="Kawin"
                              autocomplete="off"
                            />
                            <label class="form-check-label" for="kawin"
                              >Kawin</label
                            >
                          </div>

                          <div>
                            <input
                              type="radio"
                              class="form-check-input"
                              name="status_pernikahan"
                              value="Cerai hidup"
                              autocomplete="off"
                            />
                            <label class="form-check-label" for="ceraiHidup"
                              >Cerai hidup</label
                            >
                          </div>
                          <div>
                            <input
                              type="radio"
                              class="form-check-input"
                              name="status_pernikahan"
                              value="Cerai mati"
                              autocomplete="off"
                            />
                            <label class="form-check-label" for="ceraiMati"
                              >Cerai mati</label
                            >
                          </div>
                        </div>
                      </div>

                      <div class="mb-3" id="kawin" hidden>
                        <div class="row">
                          <div class="col-4">
                            <label class="small mb-1" for="no_akta_nikah">
                              No. Akt perkawinan / Buku Nikah </label
                            ><input
                              class="form-control"
                              id="no_akta_nikah"
                              type="text"
                              placeholder="cth :"
                            />
                          </div>
                          <div class="col-5">
                            <label class="small mb-1" for="akta_nikah"
                              >Akt perkawinan / buku nikah</label
                            >
                            <select class="form-select" id="akta_nikah">
                              <option value="Tidak Ada">Tidak Ada</option>
                              <option value="Ada">Ada</option>
                            </select>
                          </div>
                          <div class="col-3">
                            <label class="small mb-1" for="tanggal_perkawinan"
                              >Tgl perkawinan</label
                            ><input
                              class="form-control"
                              id="tanggal_perkawinan"
                              onchange="validate_date(this)"
                              type="date"
                              placeholder="cth :"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3" id="cerai" hidden>
                        <div class="row">
                          <div class="col-4">
                            <label class="small mb-1" for="no_akt_cerai">
                              No. Akt Cerai </label
                            ><input
                              class="form-control"
                              id="no_akt_cerai"
                              type="text"
                              placeholder="cth :"
                            />
                          </div>
                          <div class="col-5">
                            <label class="small mb-1" for="akta_cerai"
                              >Akt Cerai / Surat cerai</label
                            >
                            <select id="akta_cerai" class="form-select">
                              <option value="Tidak Ada">Tidak Ada</option>
                              <option value="Ada">Ada</option>
                            </select>
                          </div>
                          <div class="col-3">
                            <label class="small mb-1" for="tanggal_perceraian"
                              >Tgl perceraian</label
                            ><input
                              class="form-control"
                              id="tanggal_perceraian"
                              onchange="validate_date(this)"
                              type="date"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <h5 class="card-title">Data Kelainan</h5>
                        <div class="row">
                          <div class="col-6">
                            <label class="small mb-1" for="penyandang_cacat"
                              >Penyandang Cacat </label
                            ><select id="penyandang_cacat" class="form-select">
                              <option value="Tidak Ada">Tidak Ada</option>
                              <option value="Cacat Fisik">Cacat Fisik</option>
                              <option value="Cacat Netra/Buta">
                                Cacat Netra/Buta
                              </option>
                              <option value="Cacat Rungu/Wicara">
                                Cacat Rungu/Wicara
                              </option>
                              <option value="Cacat Mental/Jiwa">
                                Cacat Mental/Jiwa
                              </option>
                              <option value="Cacat Fisik dan Mental">
                                Cacat Fisik dan Mental
                              </option>
                              <option value="Cacat Lainnya">
                                Cacat Lainnya
                              </option>
                            </select>
                          </div>
                          <div class="col-6">
                            <label class="small mb-1" for="kelainan_fisik"
                              >Kelainan Fisik & Mental </label
                            ><select id="kelainan_fisik" class="form-select">
                              <option value="Tidak Ada">Tidak Ada</option>
                              <option value="Ada">Ada</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <h5 class="card-title">Data Ayah & Ibu</h5>
                        <div class="row">
                          <div class="col-6">
                            <label class="small mb-1" for="nik_ayah"
                              >NIK Ayah</label
                            >
                          </div>
                          <div class="col-6">
                            <label class="small mb-1" for="nama_ayah"
                              >Nama Ayah</label
                            >
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <input
                              class="form-control"
                              id="nik_ayah"
                              required
                              type="number"
                              placeholder="cth :"
                            />
                          </div>
                          <div class="col-6">
                            <input
                              class="form-control"
                              id="nama_ayah"
                              required
                              type="text"
                              placeholder="cth :"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-6">
                            <label class="small mb-1" for="nik_ibu"
                              >NIK Ibu</label
                            >
                          </div>
                          <div class="col-6">
                            <label class="small mb-1" for="nama_ibu"
                              >Nama Ibu</label
                            >
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <input
                              class="form-control"
                              id="nik_ibu"
                              required
                              type="number"
                              placeholder="cth :"
                            />
                          </div>
                          <div class="col-6">
                            <input
                              class="form-control"
                              id="nama_ibu"
                              required
                              type="text"
                              placeholder="cth :"
                            />
                          </div>
                        </div>
                      </div>

                      <div
                        class="d-flex align-items-center justify-content-between mt-4 mb-0"
                      >
                        <button
                          required
                          type="submit"
                          id="button-submit"
                          class="btn btn-primary"
                        >
                          Tambah
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <%- include('./../../../layouts/javascript.html') %>
    <script>
      document.getElementById("form-warga").hidden = true;
      function checkNoKK(no_kk) {
        axios({
          url: `${baseUrl}/api/families/check`,
          method: "post",
          headers: { "content-type": "application/json" },
          data: { no_kk: no_kk },
        })
          .then((response) => {
            var { nama_dusun, no_rw, no_rt, alamat } = response.data;

            Swal.fire({
              icon: "question",
              showDenyButton: true,
              confirmButtonText: "Ya",
              denyButtonText: `Tidak`,
              title: "Apakah data benar ?",
              html:
                "No KK : " +
                no_kk +
                "</br >Dusun : " +
                nama_dusun +
                "</br>Alamat : " +
                alamat +
                " RT " +
                no_rt +
                "/" +
                no_rw,
              showConfirmButton: true,
            }).then((result) => {
              if (result.isConfirmed) {
                document.getElementById("form-warga").hidden = false;
                document.getElementById("no_kk").value = no_kk;
                Swal.fire({
                  title: "Data digunakan",
                  icon: "success",
                  showConfirmButton: false,
                  timer: 1000,
                });
                document.getElementById("btn-check-noKK").hidden = true;
                document.getElementById("no_kk").readOnly = true;
              } else if (result.isDenied) {
                document.getElementById("no_kk").value = "";
                Swal.fire("Silahkan ketik ulang No KK", "", "info");
              }
            });
          })

          .catch((error) => {
            Swal.fire({
              icon: "error",
              title: error.response.data.errorMessages,
              showConfirmButton: true,
            });
          });
      }
      const urlParams = new URLSearchParams(window.location.search);
      const param_no_kk = urlParams.get("no_kk");
      if (param_no_kk) {
        checkNoKK(param_no_kk);
      }
      document
        .getElementById("btn-check-noKK")
        .addEventListener("click", (event) => {
          checkNoKK(document.getElementById("no_kk").value);
        });

      const radioGroup = document.querySelector('[role="group"]');
      const radios = radioGroup.querySelectorAll('[type="radio"]');
      var status_pernikahan = "Belum kawin";
      radios.forEach((radio) => {
        radio.addEventListener("change", (event) => {
          const selectedRadio = event.target;
          const selectedValue = selectedRadio.value;

          switch (selectedValue) {
            case "Belum kawin":
              document.getElementById("cerai").hidden = true;
              document.getElementById("kawin").hidden = true;
              break;

            case "Kawin":
              document.getElementById("cerai").hidden = true;
              document.getElementById("kawin").hidden = false;
              break;

            case "Cerai hidup":
              document.getElementById("cerai").hidden = false;
              document.getElementById("kawin").hidden = true;

              break;

            case "Cerai mati":
              document.getElementById("cerai").hidden = true;
              document.getElementById("kawin").hidden = true;
              break;

            default:
              break;
          }
          status_pernikahan = selectedRadio.value;
        });
      });

      document
        .querySelector("#button-submit")
        .addEventListener("click", (event) => {
          event.preventDefault();
          axios({
            url: `${baseUrl}/api/residents/create`,
            method: "post",
            headers: { "content-type": "application/json" },
            data: {
              nik: document.getElementById("nik").value,
              no_kk: document.getElementById("no_kk").value,
              status_keluarga: document.getElementById("status_keluarga").value,
              alamat_sebelumnya:
                document.getElementById("alamat_sebelumnya").value,
              nama: document.getElementById("nama").value,
              tempat_lahir: document.getElementById("tempat_lahir").value,
              tanggal_lahir: document.getElementById("tanggal_lahir").value,
              jenis_kelamin: document.getElementById("jenis_kelamin").value,
              pekerjaan: document.getElementById("pekerjaan").value,
              agama: document.getElementById("agama").value,
              status_pernikahan: status_pernikahan,
              pendidikan_terakhir: document.getElementById(
                "pendidikan_terakhir"
              ).value,
              no_paspor: document.getElementById("no_paspor").value,
              tanggal_berakhir_paspor: document.getElementById(
                "tanggal_berakhir_paspor"
              ).value,
              no_akta_lahir: document.getElementById("no_akta_lahir").value,
              akta_lahir: document.getElementById("akta_lahir").value,
              no_akta_nikah: document.getElementById("no_akta_nikah").value,
              akta_nikah: document.getElementById("akta_nikah").value,
              tanggal_perkawinan:
                document.getElementById("tanggal_perkawinan").value,
              no_akta_cerai: document.getElementById("no_akt_cerai").value,
              akta_cerai: document.getElementById("akta_cerai").value,
              tanggal_perceraian:
                document.getElementById("tanggal_perceraian").value,

              golongan_darah: document.getElementById("golongan_darah").value,
              kelainan_fisik_mental:
                document.getElementById("kelainan_fisik").value,
              penyandang_cacat:
                document.getElementById("penyandang_cacat").value,
              golongan_darah: document.getElementById("golongan_darah").value,
              nik_ayah: document.getElementById("nik_ayah").value,
              nik_ibu: document.getElementById("nik_ibu").value,
              nama_ayah: document.getElementById("nama_ayah").value,
              nama_ibu: document.getElementById("nama_ibu").value,
            },
          })
            .then((response) => {
              Swal.fire({
                position: "top-end",
                icon: "success",
                title:
                  "Data " +
                  document.getElementById("nama").value +
                  " sudah ditambahkan",
                showConfirmButton: false,
                timer: 1800,
              });

              setTimeout(() => {
                window.location.href = "/residents/";
              }, 2000);
            })
            .catch((error) => {
              document.querySelector("#button-submit").innerHTML = "Tambah";

              let resError = "";
              if (typeof error.response.data.errorMessages === "object") {
                for (const key in error.response.data.errorMessages) {
                  if (error.response.data.errorMessages.hasOwnProperty(key)) {
                    resError +=
                      error.response.data.errorMessages[key] + "<br />";
                  }
                }
              } else {
                resError = error.response.data.errorMessages;
              }

              Swal.fire({
                position: "top-end",
                icon: "error",
                title: resError,
                showConfirmButton: true,
              });
            });
        });
    </script>
  </body>
</html>
