<!DOCTYPE html>
<html lang="id">
  <%- include('../../../layouts/head.html', {pageTitle : formulir_judul } ) %>
  <body class="nav-fixed">
    <%- include('../../components/nav.html'); -%>
    <div id="layoutSidenav">
      <%- include('../../components/sidebars.html',{role: role}); -%>
      <div id="layoutSidenav_content">
        <main>
          <%- include('../../components/loading.html'); -%>
          <div class="container-xl px-4">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header justify-content-center">
                    <h3 class="fw-light my-4">
                      <%= formulir_judul %> RUMAH SAKIT
                    </h3>
                  </div>
                  <div class="card-body">
                    <div class="mb-3 ms-3">
                      <div class="row">
                        <div class="form-check form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="warga_cipayung"
                            checked
                          />
                          <label class="form-check-label" for="warga_cipayung"
                            >Warga Desa Cipayung (Terdaftar di Kelor)</label
                          >
                        </div>
                      </div>
                    </div>
                    <h5 class="card-title">Data Warga</h5>
                    <div class="mb-3">
                      <label class="small mb-1" for="nik">No. KTP:</label>
                      <input
                        class="form-control"
                        id="nik"
                        type="number"
                        placeholder="Masukkan No. KTP"
                        list="nikList"
                      />
                      <datalist id="nikList"></datalist>
                    </div>
                    <form id="form-warga">
                      <div class="mb-3">
                        <label class="small mb-1" for="nama">Nama</label>
                        <input class="form-control" id="nama" type="text" />
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-6">
                            <label class="small mb-1" for="tempat_lahir"
                              >Tempat
                            </label>
                            <input
                              class="form-control"
                              id="tempat_lahir"
                              type="text"
                            />
                          </div>

                          <div class="col-6">
                            <label class="small mb-1" for="tanggal_lahir"
                              >Tgl. lahir</label
                            >
                            <input
                              class="form-control"
                              id="tanggal_lahir"
                              type="date"
                              onchange="validate_date(this);"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-6">
                            <label for="jenis_kelamin" class="small mb-1"
                              >Jenis Kelamin</label
                            >
                            <select
                              id="jenis_kelamin"
                              class="form-select"
                              disabled
                              aria-label="Default select example"
                            >
                              <option value="pilih" selected disabled>
                                Pilih Jenis Kelamin:
                              </option>
                              <option value="Laki-laki">Laki - laki</option>
                              <option value="Perempuan">Perempuan</option>
                            </select>
                          </div>

                          <div class="col-6">
                            <label class="small mb-1" for="alamat"
                              >Alamat</label
                            >
                            <input
                              class="form-control"
                              id="alamat"
                              type="text"
                            />
                          </div>
                        </div>
                      </div>
                    </form>

                    <h5 class="card-title">Data Keterangan</h5>

                    <div class="mb-3">
                      <div class="row">
                        <div class="col-6">
                          <label class="small mb-1" for="inputNomor"
                            >Nomor Surat</label
                          >
                          <input
                            class="form-control"
                            id="nomor_surat"
                            type="text"
                            placeholder="Masukkan Nomor Surat"
                          />
                        </div>
                        <div class="col-6">
                          <label class="small mb-1" for="inputNomor"
                            >Nomor Registrasi</label
                          >
                          <input
                            class="form-control"
                            id="nomor_reg"
                            type="text"
                            placeholder="Masukkan Nomor Registrasi"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="mb-3">
                      <div class="row">
                        <div class="col-6">
                          <label
                            class="small mb-1"
                            for="tanggal_surat_keterangan"
                            >Tanggal Surat Rawat Inap</label
                          >
                          <input
                            class="form-control"
                            id="tanggal_surat_keterangan"
                            type="date"
                          />
                        </div>
                        <div class="col-6">
                          <label class="small mb-1" for="rumah_sakit"
                            >Rumah Sakit
                          </label>
                          <input
                            class="form-control"
                            id="rumah_sakit"
                            type="text"
                            placeholder="Masukkan Rumah Sakit "
                          />
                        </div>
                      </div>
                    </div>

                    <div
                      class="d-flex align-items-center justify-content-between mt-4 mb-0"
                    >
                      <button
                        id="submit-form"
                        type="submit"
                        class="btn btn-primary"
                      >
                        Buat Surat
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <%- include('../../components/footer.html'); -%>
      </div>
    </div>
    <%- include('../../../layouts/javascript.html') %>
    <script src="/javascript/document/document.js"></script>
    <script>
      const warga_cipayung = document.getElementById("warga_cipayung");
      function warga_status() {
        if (warga_cipayung.checked) {
          changeInputForm("form-warga", true);
          document.getElementById("nik").value = "";
        } else {
          changeInputForm("form-warga", false);
          document.getElementById("nik").value = "";
          removeInputForm("form-warga");
        }
      }
      window.onload = warga_status;
      warga_cipayung.addEventListener("change", warga_status);
      document
        .getElementById("tanggal_surat_keterangan")
        .addEventListener("change", (event) => {
          validate_date(document.getElementById("tanggal_surat_keterangan"));
        });
      document
        .querySelector("#submit-form")
        .addEventListener("click", (event) => {
          loadingInit();
          event.preventDefault();
          document.querySelector("#submit-form").innerHTML = "Loading ...";
          axios({
            url: `${baseUrl}/api/documents/8b963d84-b2a2-43cb-9e9a-e7892905d7f3`,
            method: "post",
            headers: { "content-type": "application/json" },
            data: {
              formulir_judul: "<%= formulir_judul%>",
              nik: document.getElementById("nik").value,
              nomor_surat: document.getElementById("nomor_surat").value,
              nomor_reg: document.getElementById("nomor_reg").value,
              nama: capitalize(document.getElementById("nama").value),
              tanggal_lahir: document.getElementById("tanggal_lahir").value,
              tempat_lahir: capitalize(
                document.getElementById("tempat_lahir").value
              ),
              jenis_kelamin: document.getElementById("jenis_kelamin").value,
              alamat: capitalize(document.getElementById("alamat").value),
              tanggalSuratKeterangan: document.getElementById(
                "tanggal_surat_keterangan"
              ).value,
              rumahSakit: capitalize(
                document.getElementById("rumah_sakit").value
              ),
            },
          })
            .then((response) => {
              Swal.fire({
                position: "top-end",
                icon: "success",
                title:
                  capitalizeFirstLetter("<%= formulir_judul%>") +
                  " Rumah Sakit sudah terbuat",
                showConfirmButton: false,
                timer: 1800,
              });

              setTimeout(() => {
                window.location.href = "/documents/";
              }, 2000);
            })

            .catch((error) => {
              document.querySelector("#submit-form").innerHTML = "Buat Surat";
              let resError = "";
              if (typeof error.response.data.errorMessages === "object") {
                for (const key in error.response.data.errorMessages) {
                  if (error.response.data.errorMessages.hasOwnProperty(key)) {
                    resError +=
                      error.response.data.errorMessages[key] + "<br />";
                  }
                }
              } else {
                resError = error.response.data.errorMessages;
              }

              Swal.fire({
                position: "top-end",
                icon: "error",
                title: resError,
                showConfirmButton: true,
              });
            })
            .finally(() => {
              loadingDestroy();
            });
        });
    </script>
  </body>
</html>
