<!DOCTYPE html>
<html lang="id">
  <%- include('../../../layouts/head.html', {pageTitle : formulir_judul } ) %>
  <body class="nav-fixed">
    <div id="layoutSidenav">
      <%- include('../../components/sidebars.html',{role: role}); -%>
      <div id="layoutSidenav_content" style="top: 0">
        <main>
          <%- include('../../components/loading.html'); -%>
          <div class="container-xl px-4">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header justify-content-center">
                    <h3 class="fw-light my-4"><%= formulir_judul %></h3>
                  </div>
                  <div class="card-body">
                    <div class="mb-3 ms-3">
                      <div class="row">
                        <div class="form-check form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="warga_cipayung"
                            checked
                          />
                          <label class="form-check-label" for="warga_cipayung"
                            >Warga Desa Cipayung (Terdaftar di Kelor)</label
                          >
                        </div>
                      </div>
                    </div>
                    <h5 class="card-title">Data Warga</h5>
                    <div class="mb-3">
                      <label class="small mb-1" for="nik">No. KTP:</label>
                      <input
                        class="form-control"
                        id="nik"
                        type="number"
                        placeholder="Masukkan No. KTP"
                        list="nikList"
                      />
                      <datalist id="nikList"></datalist>
                    </div>
                    <form id="form-warga">
                      <div class="mb-3">
                        <label class="small mb-1" for="nama">Nama</label>
                        <input class="form-control" id="nama" type="text" />
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-6">
                            <label class="small mb-1" for="tempat_lahir"
                              >Tempat
                            </label>
                            <input
                              class="form-control"
                              id="tempat_lahir"
                              type="text"
                            />
                          </div>

                          <div class="col-6">
                            <label class="small mb-1" for="tanggal_lahir"
                              >Tgl. lahir</label
                            >
                            <input
                              class="form-control"
                              id="tanggal_lahir"
                              type="date"
                              onchange="validate_date(this)"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-6">
                            <label for="jenis_kelamin" class="small mb-1"
                              >Jenis Kelamin</label
                            >
                            <select
                              id="jenis_kelamin"
                              class="form-select"
                              disabled
                              aria-label="Default select example"
                            >
                              <option value="pilih" selected disabled>
                                Pilih Jenis Kelamin:
                              </option>
                              <option value="Laki-laki">Laki - laki</option>
                              <option value="Perempuan">Perempuan</option>
                            </select>
                          </div>

                          <div class="col-6">
                            <label for="agama" class="small mb-1">Agama</label>
                            <select
                              id="agama"
                              class="form-select"
                              disabled
                              aria-label="Default select example"
                            >
                              <option value="pilih" selected disabled>
                                Pilih Agama:
                              </option>
                              <option value="Islam">Islam</option>
                              <option value="Kristen">Kristen</option>
                              <option value="Katolik">Katolik</option>
                              <option value="Hindu">Hindu</option>
                              <option value="Buddha">Buddha</option>
                              <option value="Khonghucu">Khonghucu</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="mb-3">
                        <div class="row">
                          <div class="col-6">
                            <label class="small mb-1" for="pekerjaan"
                              >Pekerjaan</label
                            >
                            <input
                              class="form-control"
                              id="pekerjaan"
                              type="text"
                            />
                          </div>
                          <div class="col-6">
                            <label class="small mb-1" for="kewarganegaraan"
                              >Kewarganegaraan</label
                            >
                            <select
                              id="kewarganegaraan"
                              class="form-select"
                              disabled
                              aria-label="Default select example"
                            >
                              <option value="pilih" selected disabled>
                                Pilih kewarganegaraan:
                              </option>
                              <option value="WNI">WNI</option>
                              <option value="WNA">WNA</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="mb-3">
                        <label class="small mb-1" for="alamat">Alamat</label>
                        <input class="form-control" id="alamat" type="text" />
                      </div>
                    </form>
                    <h5 class="card-title">Data Usaha</h5>

                    <div class="mb-3">
                      <label class="small mb-1" for="inputNomor"
                        >Nomor Surat</label
                      >
                      <input
                        class="form-control"
                        id="nomor_surat"
                        type="text"
                        placeholder="Masukkan Nomor Surat"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="small mb-1" for="inputNomor"
                        >Nomor Registrasi</label
                      >
                      <input
                        class="form-control"
                        id="nomor_reg"
                        type="text"
                        placeholder="Masukkan Nomor Registrasi"
                      />
                    </div>

                    <div class="mb-3">
                      <label class="small mb-1" for="tanggal_pendirian"
                        >Tanggal Pendirian di Surat</label
                      >
                      <input
                        class="form-control"
                        id="tanggal_pendirian"
                        type="date"
                        onchange="validate_date(this)"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="small mb-1" for="perusahaan"
                        >Nama Perusahaan</label
                      >
                      <input
                        class="form-control"
                        id="perusahaan"
                        type="text"
                        placeholder="Masukkan Nama Perusahaan"
                      />
                    </div>
                    <div class="mb-3">
                      <div class="row">
                        <div class="col-6">
                          <label class="small mb-1" for="jenis_usaha"
                            >Jenis Usaha</label
                          >
                          <input
                            class="form-control"
                            id="jenis_usaha"
                            type="text"
                            placeholder="Masukkan Jenis Usaha"
                          />
                        </div>
                        <div class="col-6">
                          <label class="small mb-1" for="penanggung_jawab"
                            >Penanggung Jawab</label
                          >
                          <input
                            class="form-control"
                            id="penanggung_jawab"
                            type="text"
                            placeholder="Masukkan Penanggung Jawab"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="mb-3">
                      <div class="row">
                        <div class="col-6">
                          <label class="small mb-1" for="jumlah Karyawan"
                            >Jumlah Karyawan</label
                          >
                          <input
                            class="form-control"
                            id="jumlah_karyawan"
                            type="number"
                            placeholder="Masukkan Jumlah Karyawan"
                          />
                        </div>
                        <div class="col-6">
                          <label class="small mb-1" for="status_bangunan"
                            >Status bangunan
                          </label>
                          <input
                            class="form-control"
                            id="status_bangunan"
                            type="text"
                            placeholder="Masukkan status bangunann "
                          />
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label class="small mb-1" for="lokasi_usaha"
                        >Alamat perusahaan
                      </label>
                      <input
                        class="form-control"
                        id="lokasi_usaha"
                        type="text"
                        placeholder="Masukkan Alamat Perusahaan "
                      />
                    </div>

                    <div
                      class="d-flex align-items-center justify-content-between mt-4 mb-0"
                    >
                      <button
                        id="submit-form"
                        type="submit"
                        class="btn btn-primary"
                      >
                        Buat Surat
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <%- include('../../components/footer.html'); -%>
      </div>
    </div>
    <%- include('../../../layouts/javascript.html') %>
    <script src="/javascript/surat.js"></script>

    <script>
      const warga_cipayung = document.getElementById("warga_cipayung");
      function warga_status() {
        if (warga_cipayung.checked) {
          changeInputForm("form-warga", true);
        } else {
          changeInputForm("form-warga", false);
          document.getElementById("nik").value = "";
          removeInputForm("form-warga");
        }
      }
      window.onload = warga_status;
      warga_cipayung.addEventListener("change", warga_status);
      document
        .querySelector("#submit-form")
        .addEventListener("click", (event) => {
          document.querySelector("#submit-form").innerHTML = "Loading ...";
          loadingInit();
          event.preventDefault();

          axios({
            url: `${baseUrl}/api/documents/2b76a6b5-6c9e-4dea-90f8-6eec0183530a`,
            method: "post",
            headers: { "content-type": "application/json" },
            data: {
              nomor_surat: document.getElementById("nomor_surat").value,
              nomor_reg: document.getElementById("nomor_reg").value,
              tanggal_pendirian:
                document.getElementById("tanggal_pendirian").value,
              nama: capitalize(document.getElementById("nama").value),
              tanggal_lahir: document.getElementById("tanggal_lahir").value,
              tempat_lahir: capitalize(
                document.getElementById("tempat_lahir").value
              ),
              jenis_kelamin: document.getElementById("jenis_kelamin").value,
              pekerjaan: capitalize(document.getElementById("pekerjaan").value),
              agama: capitalize(document.getElementById("agama").value),
              kewarganegaraan: document.getElementById("kewarganegaraan").value,
              alamat: capitalize(document.getElementById("alamat").value),
              nik: document.getElementById("nik").value,
              perusahaan: document.getElementById("perusahaan").value,
              jenis_usaha: capitalize(
                document.getElementById("jenis_usaha").value
              ),
              penanggung_jawab: capitalize(
                document.getElementById("penanggung_jawab").value
              ),
              jumlah_karyawan: document.getElementById("jumlah_karyawan").value,
              lokasi_usaha: document.getElementById("lokasi_usaha").value,
              status_bangunan: capitalize(
                document.getElementById("status_bangunan").value
              ),
            },
          })
            .then((response) => {
              Swal.fire({
                position: "top-end",
                icon: "success",
                title:
                  capitalizeFirstLetter("<%= formulir_judul%>") +
                  " sudah terbuat",
                showConfirmButton: false,
                timer: 1800,
              });

              setTimeout(() => {
                window.location.href = "/documents/";
              }, 2000);
            })

            .catch((error) => {
              document.querySelector("#submit-form").innerHTML = "Buat Surat";

              let resError = "";
              for (const key in error.response.data.errorMessages) {
                if (error.response.data.errorMessages.hasOwnProperty(key)) {
                  resError += error.response.data.errorMessages[key] + "<br />";
                }
              }

              Swal.fire({
                position: "top-end",
                icon: "error",
                title: resError,
                showConfirmButton: true,
              });
            })
            .finally(() => {
              loadingDestroy();
            });
        });
    </script>
  </body>
</html>
