<!DOCTYPE html>
<html>
  <%- include('../../../layouts/head.html', {pageTitle : formulir_judul } ) %>
  <body class="nav-fixed">
    <div id="layoutSidenav">
      <%- include('../../components/sidebars.html',{role: role}); -%>
      <div id="layoutSidenav_content" style="top: 0">
        <main>
          <header
            class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
          >
            <div class="container-xl px-4">
              <div class="page-header-content">
                <div
                  class="row align-items-center justify-content-between pt-3"
                >
                  <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                      <div class="page-header-icon">
                        <i data-feather="file"></i>
                      </div>
                      <%= formulir_judul %>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="container-xl px-4">
            <div class="row justify-content-center">
              <div class="col-lg-10" id="form-keluarga">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header bg-gray-600">
                    <h2 class="fw-bold my-2 text-center text-light">
                      Data Keluarga
                    </h2>
                  </div>
                  <div class="card-body">
                    <div class="mb-3">
                      <label class="small mb-1" for="no_reg"
                        >Nomor Registrasi</label
                      >
                      <input
                        class="form-control"
                        id="no_reg"
                        type="text"
                        placeholder="Masukkan Nomor Registrasi"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="small mb-1" for="alamat">Alamat</label>
                      <input
                        class="form-control"
                        id="alamat"
                        placeholder="cth : jl Bogor raya"
                        type="text"
                      />
                    </div>
                    <div class="mb-3">
                      <div class="row">
                        <div class="col-3">
                          <label class="small mb-1" for="dusun">Dusun </label>
                          <select
                            class="form-select"
                            aria-label="Default select example"
                            id="dusun"
                          >
                            <option>Pilih Dusun</option>
                          </select>
                        </div>

                        <div class="col-3">
                          <label class="small mb-1" for="rw">No RW</label>
                          <select
                            class="form-select"
                            aria-label="Default select example"
                            id="rw"
                          >
                            <option>Pilih RW</option>
                          </select>
                        </div>

                        <div class="col-3">
                          <label class="small mb-1" for="rt">No RT</label>
                          <select
                            class="form-select"
                            aria-label="Default select example"
                            id="rt"
                          >
                            <option>Pilih RT</option>
                          </select>
                        </div>
                        <div class="col-3">
                          <label class="small mb-1" for="kode_pos"
                            >Kode Pos
                          </label>
                          <input
                            class="form-control"
                            id="kode_pos"
                            type="number"
                          />
                        </div>
                      </div>
                    </div>

                    <div
                      class="d-flex align-items-center justify-content-between mt-4 mb-0"
                    ></div>
                  </div>
                </div>
              </div>

              <div class="text-center my-2">
                <button
                  type="submit"
                  id="btn-tambah-anggota"
                  class="btn btn-success"
                >
                  Tambah anggota
                </button>
                <button
                  type="submit"
                  id="btn-buat-surat"
                  class="btn btn-primary"
                >
                  Buat Surat
                </button>
              </div>
            </div>
          </div>
        </main>
        <%- include('../../components/footer.html'); -%>
      </div>
    </div>
    <%- include('../../../layouts/javascript.html') %>
    <script src="/javascript/suratKK.js"></script>
    <script src="/javascript/listDaerah.js"></script>
    <script src="/javascript/familyAdd.js"></script>
    <script>
      function handleEvent(event) {
        var target = event.target;

        if (target.type === "radio") {
          let index = target.id.match(/\d+$/)[0];
          console.log(index);
          switch (target.value) {
            case "Belum kawin":
              document.getElementById("cerai-" + index).hidden = true;
              document.getElementById("kawin-" + index).hidden = true;
              break;

            case "Kawin":
              document.getElementById("cerai-" + index).hidden = true;
              document.getElementById("kawin-" + index).hidden = false;
              break;

            case "Cerai hidup":
              document.getElementById("cerai-" + index).hidden = false;
              document.getElementById("kawin-" + index).hidden = true;

              break;

            case "Cerai mati":
              document.getElementById("cerai-" + index).hidden = true;
              document.getElementById("kawin-" + index).hidden = true;
              break;

            default:
              break;
          }
        }
      }

      document
        .getElementById("form-keluarga")
        .addEventListener("click", handleEvent);

      document
        .getElementById("btn-tambah-anggota")
        .addEventListener("click", (event) => {
          addNewForm();
        });

      document
        .getElementById("btn-buat-surat")
        .addEventListener("click", (event) => {
          document.getElementById("btn-buat-surat").textContent = "Loading...";
          check_data();
        });
    </script>
  </body>
</html>
