<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>RT - Kelor</title>
    <link href="/sb-admin-pro/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <script
      data-search-pseudo-elements
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="nav-fixed">
    <div id="layoutSidenav">
      <%- include('../../components/sidebars.html'); -%>
      <div id="layoutSidenav_content" style="top: 0">
        <main>
          <header
            class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
          >
            <div class="container-xl px-4">
              <div class="page-header-content">
                <div
                  class="row align-items-center justify-content-between pt-3"
                >
                  <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                      <div class="page-header-icon">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-user"
                        >
                          <path
                            d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"
                          ></path>
                          <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                      </div>
                      Tambah Data RT
                    </h1>
                  </div>
                  <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" href="/rt">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-left me-1"
                      >
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                      </svg>
                      Kembali ke Daftar RT
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <!-- Main page content-->
          <div class="container-xl px-4 mt-4">
            <div class="row">
              <div class="col-md">
                <div class="card mb-4">
                  <div class="card-header">RT Details</div>
                  <div class="card-body">
                    <form>
                      <div class="mb-3">
                        <label class="small mb-1" for="dusun">Dusun</label>
                        <select
                          class="form-select"
                          aria-label="Default select example"
                          id="dusun"
                          required
                        >
                          <option>Pilih Dusun</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label class="small mb-1" for="rw">RW</label>
                        <select
                          class="form-select"
                          aria-label="Default select example"
                          id="rw"
                          required
                        >
                          <option>Pilih RW</option>
                        </select>
                      </div>

                      <div class="mb-3">
                        <label class="small mb-1" for="RT">RT</label>
                        <input
                          class="form-control"
                          id="RT"
                          type="number"
                          placeholder="Masukkan no RT"
                        />
                      </div>

                      <div class="mb-3">
                        <label class="small mb-1" for="nikKetuaRT"
                          >NIK Ketua RT</label
                        >
                        <input
                          class="form-control"
                          id="nikKetuaRT"
                          type="number"
                          placeholder="Masukkan NIK ketua RT"
                          list="ketuaRtList"
                        />
                        <datalist id="ketuaRtList"></datalist>
                      </div>
                      <!-- Form Group (Nama)-->
                      <div class="mb-3">
                        <label class="small mb-1" for="namaKetuaRT"
                          >Nama Ketua RT</label
                        >
                        <input
                          class="form-control"
                          type="text"
                          id="namaKetuaRT"
                          readonly
                        />
                      </div>
                      <div class="mb-3">
                        <label class="small mb-1" for="keterangan"
                          >Keterangan</label
                        >
                        <input
                          class="form-control"
                          id="keterangan"
                          type="text"
                          placeholder="Masukkan keterangan"
                        />
                      </div>
                      <div class="mb-3">
                        <label class="small mb-1" for="inputJumlahKeluarga"
                          >Keluarga</label
                        >
                        <input
                          class="form-control"
                          id="inputJumlahKeluarga"
                          type="number"
                          required
                          placeholder="Masukkan Jumlah Keluarga"
                        />
                      </div>

                      <div class="mb-3">
                        <label class="small mb-1" for="inputJumlahWarga"
                          >Penduduk</label
                        >
                        <input
                          class="form-control"
                          id="inputJumlahWarga"
                          type="number"
                          required
                          placeholder="Masukkan Jumlah Warga"
                        />
                      </div>

                      <button
                        class="btn btn-primary"
                        id="button-submit"
                        type="button"
                      >
                        Tambah
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <%- include('../../components/footer.html'); -%>
      </div>
    </div>
    <%- include('./../../../layouts/javascript.html') %>
    <script src="/javascript/listDaerah.js"></script>
    <script>
      function checkFalsyValue(value) {
        // Define a regex pattern to match exactly "0"
        var regexPattern = /^0+$/;
        // Test if the value matches the regex pattern
        return !regexPattern.test(value);
      }
      document
        .getElementById("nikKetuaRT")
        .addEventListener("input", (event) => {
          if (event.target.value !== "") {
            getResidentName(
              event.target.value, //value nik
              "ketuaRtList" // idlist
            );
            document
              .getElementById("nikKetuaRT")
              .addEventListener("change", (event) => {
                currentValue = event.target.value;
                setName("namaKetuaRT", res, currentValue);
              });
          } else {
            document.getElementById("namaKetuaRT").value = "";
          }
        });
      window.onload = getDusun("dusun");

      document.getElementById("dusun").addEventListener("change", (event) => {
        document.getElementById("dusun").firstChild.disable = true;
        let dusun = document.getElementById("dusun").value;
        getRW(dusun, "rw");
      });

      document
        .querySelector("#button-submit")
        .addEventListener("click", (event) => {
          event.preventDefault();
          if (checkFalsyValue(document.getElementById("RT").value)) {
            axios({
              url: `${baseUrl}/api/rt/create`,
              method: "post",
              headers: { "content-type": "application/json" },
              data: {
                no_rt: document.getElementById("RT").value,
                rw: document.getElementById("rw").value,
                dusun: document.getElementById("dusun").value,
                keterangan: document.getElementById("keterangan").value,
                jumlah_keluarga: document.getElementById("inputJumlahKeluarga")
                  .value,
                nik_ketua_rt: document.getElementById("nikKetuaRT").value,
                jumlah_warga: document.getElementById("inputJumlahWarga").value,
              },
            })
              .then((response) => {
                let { nama_dusun, no_rw, no_rt } = response.data;
                Swal.fire({
                  position: "top-end",
                  icon: "success",
                  title:
                    "Data RT  " +
                    no_rw +
                    "/" +
                    no_rt +
                    " " +
                    nama_dusun +
                    " sudah ditambahkan",
                  showConfirmButton: false,
                  timer: 1800,
                });

                setTimeout(() => {
                  window.location.href = "/rt/";
                }, 2000);
              })
              .catch((error) => {
                // document.querySelector("#button-submit").innerHTML = "Tambah";
                //console.log(error);
                let resError = "";
                if (typeof error.response.data.errorMessages === "object") {
                  for (const key in error.response.data.errorMessages) {
                    if (error.response.data.errorMessages.hasOwnProperty(key)) {
                      resError +=
                        error.response.data.errorMessages[key] + "<br />";
                    }
                  }
                } else {
                  resError = error.response.data.errorMessages;
                }

                Swal.fire({
                  icon: "error",
                  title: resError,
                  showConfirmButton: true,
                });
              });
          }
        });
    </script>
  </body>
</html>
