<!DOCTYPE html>
<html lang="id">
  <%- include('../../../layouts/head.html', {pageTitle : "Dusun - Kelor" } )%>

  <body class="nav-fixed">
    <%- include('../../components/nav.html'); -%>
    <div id="layoutSidenav">
      <%- include('../../components/sidebars.html',{role: role}); -%>
      <div id="layoutSidenav_content">
        <main>
          <header
            class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
          >
            <div class="container-xl px-4">
              <div class="page-header-content">
                <div
                  class="row align-items-center justify-content-between pt-3"
                >
                  <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                      <div class="page-header-icon">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-user"
                        >
                          <path
                            d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"
                          ></path>
                          <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                      </div>
                      Edit Data Dusun
                    </h1>
                  </div>
                  <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" href="/dusun">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-left me-1"
                      >
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                      </svg>
                      Kembali ke Daftar Dusun
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <!-- Main page content-->
          <div class="container-xl px-4 mt-4">
            <div class="row">
              <div class="col-md">
                <div class="card mb-4">
                  <div class="card-header">Dusun Details</div>
                  <div class="card-body">
                    <form>
                      <div class="mb-3">
                        <label class="small mb-1" for="dusun">Nama Dusun</label>
                        <input
                          class="form-control"
                          type="text"
                          id="dusun"
                          value="<%= nama_dusun %>"
                        />
                      </div>
                      <div class="mb-3">
                        <label class="small mb-1" for="nikKepalaDusun"
                          >NIK Kepala Dusun</label
                        >
                        <input
                          class="form-control"
                          id="nikKepalaDusun"
                          type="number"
                          value="<%= kepala_dusun_nik %>"
                          list="kepalaDusunList"
                        />
                        <datalist id="kepalaDusunList"></datalist>
                      </div>

                      <div class="mb-3">
                        <label class="small mb-1" for="namaKepalaDusun"
                          >Nama Kepala Dusun</label
                        >
                        <input
                          id="namaKepalaDusun"
                          class="form-control"
                          type="text"
                          value="<%= nama %>"
                          readonly
                        />
                      </div>
                      <div class="mb-3">
                        <label class="small mb-1" for="inputJumlahWarga"
                          >Jumlah Warga</label
                        >
                        <input
                          class="form-control"
                          id="inputJumlahWarga"
                          type="number"
                          value="<%= jumlah_warga %>"
                          placeholder="Masukkan jumlah warga"
                        />
                      </div>

                      <div class="mb-3">
                        <label class="small mb-1" for="inputLuasWilayah"
                          >Luas Wilayah</label
                        >
                        <input
                          class="form-control"
                          id="inputLuasWilayah"
                          type="number"
                          value="<%= luas_wilayah  %>"
                          placeholder="(satuan m2) contoh : 45 "
                        />
                      </div>
                      <div class="mb-3">
                        <label class="small mb-1" for="keterangan"
                          >Keterangan</label
                        >
                        <input
                          class="form-control"
                          type="text"
                          value="<%= keterangan %>"
                          id="keterangan"
                        />
                      </div>
                      <!-- Submit button-->
                      <div
                        class="d-flex align-items-center justify-content-between mt-4 mb-0"
                      >
                        <button
                          type="submit"
                          id="button-submit"
                          class="btn btn-primary"
                        >
                          Edit
                        </button>
                        <p class="ms-2 text-muted">
                          Terakhir diubah : <%= update_at %>
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <%- include('../../components/footer.html'); -%>
      </div>
    </div>
    <%- include('./../../../layouts/javascript.html') %>
    <script src="/javascript/area/dusun.js"></script>

    <script>
      document
        .querySelector("#button-submit")
        .addEventListener("click", (event) => {
          loadingInit();
          event.preventDefault();
          const dusunId = "<%= dusun_id %>";
          axios({
            url: `${baseUrl}/api/dusun/${dusunId}/update`,
            method: "put",
            headers: { "content-type": "application/json" },
            data: {
              nama_dusun: capitalize(document.getElementById("dusun").value),
              keterangan: document.getElementById("keterangan").value,
              luas_wilayah: document.getElementById("inputLuasWilayah").value,
              kepala_dusun_nik: document.getElementById("nikKepalaDusun").value,
              jumlah_warga: document.getElementById("inputJumlahWarga").value,
            },
          })
            .then((response) => {
              let nama_dusun = response.data.nama_dusun;
              showsuccess("Dusun " + nama_dusun + " sudah diubah");

              setTimeout(() => {
                window.location.href = "/dusun/";
              }, 1000);
            })
            .catch((error) => {
              showError(error);
            })
            .finally(() => {
              loadingDestroy();
            });
        });
    </script>
  </body>
</html>
