<!DOCTYPE html>
<html lang="id">
  <%- include('../../../layouts/head.html', {pageTitle : "Warga - Kelor" } )%>

  <body class="nav-fixed">
    <div id="layoutSidenav">
      <%- include('../../components/sidebars.html',{role: role}); -%>
      <div id="layoutSidenav_content" style="top: 0">
        <main>
          <%- include('../../components/loading.html') -%>
          <header
            class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
          >
            <div class="container-xl px-4">
              <div class="page-header-content">
                <div
                  class="row align-items-center justify-content-between pt-3"
                >
                  <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                      <div class="page-header-icon">
                        <i data-feather="user"></i>
                      </div>
                      Edit Data Warga
                    </h1>
                  </div>
                  <div class="col-md-12 col-md-xl-auto mb-3">
                    <a
                      class="btn btn-sm btn-light text-primary"
                      href="/residents"
                    >
                      <div class="me-1">
                        <i data-feather="arrow-left"></i>
                      </div>
                      Kembali ke Dashboard
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="container-xl px-4">
            <div class="row justify-content-center">
              <div class="col">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header justify-content-center">
                    <h3 class="fw-light my-4">Data Warga</h3>
                  </div>

                  <div class="card-body">
                    <form id="form-warga">
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-md-6">
                            <label class="small mb-1" for="nik">NIK</label
                            ><input
                              class="form-control"
                              name="nik"
                              required
                              readonly
                              type="number"
                              value="<%= nik %>"
                            />
                          </div>
                          <div class="col-md-6">
                            <label class="small mb-1" for="nama"
                              >Nama Lengkap</label
                            ><input
                              class="form-control"
                              name="nama"
                              required
                              type="text"
                              value="<%= nama %>"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="small mb-1" for="alamat_sebelum"
                          >Alamat sebelumnya</label
                        ><input
                          class="form-control"
                          name="alamat_sebelumnya"
                          type="text"
                          value="<%= alamat_sebelumnya %>"
                        />
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="small mb-1" for="tempat_lahir"
                              >Tempat Lahir </label
                            ><input
                              class="form-control"
                              name="tempat_lahir"
                              required
                              type="text"
                              value="<%= tempat_lahir %>"
                            />
                          </div>
                          <div class="col-md-3">
                            <label class="small mb-1" for="tanggal_lahir"
                              >Tgl. lahir</label
                            ><input
                              class="form-control"
                              name="tanggal_lahir"
                              onchange="validate_date(this)"
                              required
                              type="date"
                              value="<%= tanggal_lahir %>"
                            />
                          </div>
                          <div class="col-md-3">
                            <label for="jenis_kelamin" class="small mb-1"
                              >Jenis Kelamin</label
                            ><select
                              name="jenis_kelamin"
                              class="form-select"
                              aria-label="Default select example"
                            >
                              <option selected disabled>
                                Pilih Jenis Kelamin:
                              </option>
                              <option value="Laki-laki">Laki-laki</option>
                              <option value="Perempuan">Perempuan</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <label for="agama" class="small mb-1">Agama</label
                            ><select name="agama" class="form-select">
                              <option>Pilih Agama:</option>
                              <option value="Islam">Islam</option>
                              <option value="Kristen">Kristen</option>
                              <option value="Katolik">Katolik</option>
                              <option value="Hindu">Hindu</option>
                              <option value="Buddha">Buddha</option>
                              <option value="Khonghucu">Khonghucu</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-md-3">
                            <label class="small mb-1" for="golongan_darah"
                              >Golongan darah </label
                            ><select class="form-select" name="golongan_darah">
                              <option value="-">-</option>
                              <option value="A">A</option>
                              <option value="B">B</option>
                              <option value="AB">AB</option>
                              <option value="O">O</option>
                              <option value="A+">A+</option>
                              <option value="A-">A-</option>
                              <option value="B+">B+</option>
                              <option value="B-">B-</option>
                              <option value="AB+">AB+</option>
                              <option value="AB-">AB-</option>
                              <option value="O+">O+</option>
                              <option value="O-">O-</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <label class="small mb-1" for="status_keluarga"
                              >Status hubungan dlm keluarga </label
                            ><select class="form-select" name="status_keluarga">
                              <option value="Kepala Keluarga">
                                Kepala Keluarga
                              </option>
                              <option value="Suami">Suami</option>
                              <option value="Istri">Istri</option>
                              <option value="Anak">Anak</option>
                              <option value="Menantu">Menantu</option>
                              <option value="Cucu">Cucu</option>
                              <option value="Orangtua">Orangtua</option>
                              <option value="Mertua">Mertua</option>
                              <option value="Famili Lain">Famili Lain</option>
                              <option value="Pembantu">Pembantu</option>
                              <option value="Lainnya">Lainnya</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <label class="small mb-1" for="pekerjaan"
                              >Pekerjaan</label
                            ><input
                              class="form-control"
                              name="pekerjaan"
                              required
                              type="text"
                              value="<%= pekerjaan %>"
                            />
                          </div>
                          <div class="col-md-3">
                            <label class="small mb-1" for="pendidikan_terakhir"
                              >Pendidikan terakhir</label
                            >
                            <select
                              class="form-select"
                              name="pendidikan_terakhir"
                            >
                              <option value="Tidak / Belum Sekolah">
                                Tidak / Belum Sekolah
                              </option>
                              <option value="Belum Tamat SD / Sederajat">
                                Belum Tamat SD / Sederajat
                              </option>
                              <option value="Tamat SD / Sederajat">
                                Tamat SD / Sederajat
                              </option>
                              <option value="SLTP / Sederajat">
                                SLTP / Sederajat
                              </option>
                              <option value="SLTA / Sederajat">
                                SLTA / Sederajat
                              </option>
                              <option value="Diploma I / II">
                                Diploma I / II
                              </option>
                              <option
                                value="Akademi / Diploma III / Sarjana Muda"
                              >
                                Akademi / Diploma III / Sarjana Muda
                              </option>
                              <option value="Diploma IV / Strata I">
                                Diploma IV / Strata I
                              </option>
                              <option value="Strata II">Strata II</option>
                              <option value="Strata III">Strata III</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <h5 class="card-title">Data Surat</h5>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-md-6">
                            <label class="small mb-1" for="no_paspor"
                              >No. Paspor </label
                            ><input
                              class="form-control"
                              name="no_paspor"
                              type="text"
                              value="<%= no_paspor %>"
                            />
                          </div>
                          <div class="col-md-6">
                            <label
                              class="small mb-1"
                              for="tanggal_berakhir_paspor"
                              >Tgl. berakhir Paspor</label
                            ><input
                              class="form-control"
                              name="tanggal_berakhir_paspor"
                              type="date"
                              value="<%= tanggal_berakhir_paspor %>"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-md-6">
                            <label class="small mb-1" for="akta_lahir"
                              >Akta lahir/Surat lahir </label
                            ><input
                              class="form-control"
                              name="akta_lahir"
                              type="text"
                              value="<%= akta_lahir %>"
                            />
                          </div>
                          <div class="col-md-6">
                            <label class="small mb-1" for="no_akta_lahir"
                              >Akte kelahiran/Surat Knal lhir
                            </label>
                            <select name="no_akta_lahir" class="form-select">
                              <option value="Tidak Ada">Tidak Ada</option>
                              <option value="Ada">Ada</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="mb-3"> -->
                      <h5 class="card-title">Data Status pernikahan</h5>
                      <!-- </div> -->
                      <div class="mb-3">
                        <div
                          class="btn-group d-flex justify-content-evenly"
                          role="group"
                          aria-label="Basic radio toggle button group"
                        >
                          <div>
                            <input
                              type="radio"
                              class="form-check-input"
                              name="status_pernikahan"
                              value="Belum kawin"
                              autocomplete="off"
                              id="belumKawin-radio"
                              checked
                            />
                            <label
                              class="form-check-label"
                              for="belumKawin-radio"
                              >Belum kawin</label
                            >
                          </div>
                          <div>
                            <input
                              type="radio"
                              class="form-check-input"
                              name="status_pernikahan"
                              value="Kawin"
                              id="kawin-radio"
                              autocomplete="off"
                            />
                            <label class="form-check-label" for="kawin-radio"
                              >Kawin</label
                            >
                          </div>

                          <div>
                            <input
                              type="radio"
                              class="form-check-input"
                              name="status_pernikahan"
                              value="Cerai hidup"
                              id="ceraiHidup-radio"
                              autocomplete="off"
                            />
                            <label
                              class="form-check-label"
                              for="ceraiHidup-radio"
                              >Cerai hidup</label
                            >
                          </div>
                          <div>
                            <input
                              type="radio"
                              class="form-check-input"
                              name="status_pernikahan"
                              value="Cerai mati"
                              id="ceraiMati-radio"
                              autocomplete="off"
                            />
                            <label
                              class="form-check-label"
                              for="ceraiMati-radio"
                              >Cerai mati</label
                            >
                          </div>
                        </div>
                      </div>

                      <div class="mb-3" id="kawin" hidden>
                        <div class="row">
                          <div class="col-md-4">
                            <label class="small mb-1" for="no_akta_nikah">
                              No. Akt perkawinan / Buku Nikah </label
                            ><input
                              class="form-control"
                              name="no_akta_nikah"
                              type="text"
                              value="<%= no_akta_nikah %>"
                            />
                          </div>
                          <div class="col-md-5">
                            <label class="small mb-1" for="akta_nikah"
                              >Akt perkawinan / buku nikah</label
                            ><select name="akta_nikah" class="form-select">
                              <option value="Tidak Ada">Tidak Ada</option>
                              <option value="Ada">Ada</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <label class="small mb-1" for="tanggal_perkawinan"
                              >Tgl perkawinan</label
                            ><input
                              class="form-control"
                              name="tanggal_perkawinan"
                              type="date"
                              value="<%= tanggal_perkawinan %>"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3" id="cerai" hidden>
                        <div class="row">
                          <div class="col-md-4">
                            <label class="small mb-1" for="no_akt_cerai">
                              No. Akt Cerai </label
                            ><input
                              class="form-control"
                              name="no_akt_cerai"
                              type="text"
                              value="<%= no_akta_cerai %>"
                            />
                          </div>
                          <div class="col-md-5">
                            <label class="small mb-1" for="akta_cerai"
                              >Akt Cerai / Surat cerai</label
                            >
                            <select name="akta_cerai" class="form-select">
                              <option value="Tidak Ada">Tidak Ada</option>
                              <option value="Ada">Ada</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <label class="small mb-1" for="tanggal_perceraian"
                              >Tgl perceraian</label
                            ><input
                              class="form-control"
                              name="tanggal_perceraian"
                              type="date"
                              value="<%= tanggal_perceraian %>"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <h5 class="card-title">Data Kelainan</h5>
                        <div class="row">
                          <div class="col-md-6">
                            <label class="small mb-1" for="penyandang_cacat"
                              >Penyandang Cacat </label
                            ><select
                              class="form-select"
                              name="penyandang_cacat"
                            >
                              <option value="Tidak Ada">Tidak Ada</option>
                              <option value="Cacat Fisik">Cacat Fisik</option>
                              <option value="Cacat Netra/Buta">
                                Cacat Netra/Buta
                              </option>
                              <option value="Cacat Rungu/Wicara">
                                Cacat Rungu/Wicara
                              </option>
                              <option value="Cacat Mental/Jiwa">
                                Cacat Mental/Jiwa
                              </option>
                              <option value="Cacat Fisik dan Mental">
                                Cacat Fisik dan Mental
                              </option>
                              <option value="Cacat Lainnya">
                                Cacat Lainnya
                              </option>
                            </select>
                          </div>
                          <div class="col-md-6">
                            <label
                              class="small mb-1"
                              for="kelainan_fisik_mental"
                              >Kelainan Fisik & Mental </label
                            ><select
                              name="kelainan_fisik_mental"
                              class="form-select"
                            >
                              <option value="Tidak Ada">Tidak Ada</option>
                              <option value="Ada">Ada</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <h5 class="card-title">Data Ayah & Ibu</h5>
                        <div class="row">
                          <div class="col-md-6">
                            <label class="small mb-1" for="nik_ayah"
                              >NIK Ayah</label
                            >
                          </div>
                          <div class="col-md-6">
                            <label class="small mb-1" for="nama_ayah"
                              >Nama Ayah</label
                            >
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <input
                              class="form-control"
                              name="nik_ayah"
                              required
                              type="number"
                              value="<%= nik_ayah %>"
                            />
                          </div>
                          <div class="col-md-6">
                            <input
                              class="form-control"
                              name="nama_ayah"
                              required
                              type="text"
                              value="<%= nama_ayah %>"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-md-6">
                            <label class="small mb-1" for="nik_ibu"
                              >NIK Ibu</label
                            >
                          </div>
                          <div class="col-md-6">
                            <label class="small mb-1" for="nama_ibu"
                              >Nama Ibu</label
                            >
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <input
                              class="form-control"
                              name="nik_ibu"
                              required
                              type="number"
                              value="<%= nik_ibu %>"
                            />
                          </div>
                          <div class="col-md-6">
                            <input
                              class="form-control"
                              name="nama_ibu"
                              required
                              type="text"
                              value="<%= nama_ibu %>"
                            />
                          </div>
                        </div>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-between mt-4 mb-0"
                      >
                        <button
                          type="submit"
                          id="button-submit"
                          class="btn btn-primary"
                        >
                          Edit
                        </button>
                        <p class="ms-2 text-muted">
                          Terakhir diubah : <%= update_at %>
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <%- include('../../components/footer.html'); -%>
      </div>
    </div>
    <%- include('./../../../layouts/javascript.html') %>
    <script>
      // var form = document.getElementById("form-warga");
      // var elements = form.elements;

      // for (var i = 0; i < elements.length; i++) {
      //   var element = elements[i];

      //   if (element.tagName === "SELECT" || element.tagName === "INPUT") {
      //     element.disabled = true;
      //   }
      // }
      document.querySelector('[name="jenis_kelamin"]').value =
        "<%= jenis_kelamin %>";
      document.querySelector('[name="agama"]').value = "<%= agama %>";
      document.querySelector('[name="golongan_darah"]').value =
        "<%= golongan_darah %>";
      document.querySelector('[name="status_keluarga"]').value =
        "<%=status_keluarga  %>";
      document.querySelector('[name="pendidikan_terakhir"]').value =
        "<%= pendidikan_terakhir %>";
      document.querySelector('[name="no_akta_lahir"]').value =
        "<%= no_akta_lahir %>";
      document.querySelector('[name="akta_cerai"]').value = "<%= akta_nikah %>";
      document.querySelector('[name="akta_nikah"]').value = "<%= akta_cerai %>";
      document.querySelector('[name="kelainan_fisik_mental"]').value =
        "<%= kelainan_fisik_mental %>";
      document.querySelector('[name="penyandang_cacat"]').value =
        "<%= penyandang_cacat %>";

      const radioGroup = document.querySelector('[role="group"]');
      const radios = radioGroup.querySelectorAll('[type="radio"]');

      function changeStatus(selectedValue) {
        // console.log();
        document.querySelector(
          'input[name="status_pernikahan"][value="' + selectedValue + '"]'
        ).checked = true;
        switch (selectedValue) {
          case "Belum kawin":
            document.getElementById("cerai").hidden = true;
            document.getElementById("kawin").hidden = true;
            break;

          case "Kawin":
            document.getElementById("cerai").hidden = true;
            document.getElementById("kawin").hidden = false;
            break;

          case "Cerai hidup":
            document.getElementById("cerai").hidden = false;
            document.getElementById("kawin").hidden = true;

            break;

          case "Cerai mati":
            document.getElementById("cerai").hidden = true;
            document.getElementById("kawin").hidden = true;
            break;

          default:
            break;
        }
      }
      changeStatus("<%= status_pernikahan %>");
      radios.forEach((radio) => {
        radio.addEventListener("change", (event) => {
          const selectedRadio = event.target;
          changeStatus(selectedRadio.value);
        });
      });
      document
        .querySelector("#button-submit")
        .addEventListener("click", (event) => {
          loadingInit();
          event.preventDefault();
          document.querySelector("#button-submit").innerHTML = "Loading...";

          var form1 = document.getElementById("form-warga");
          var formData1 = new FormData(form1);
          // Convert FormData to an object
          var formDataObject = {};
          formData1.forEach(function (value, key) {
            formDataObject[key] = value;
          });
          console.log(formDataObject);
          const nik = document.querySelector('[name="nik"]').value;

          axios({
            url: `${baseUrl}/api/residents/${nik}/update`,
            method: "put",
            headers: { "content-type": "application/json" },
            data: formDataObject,
          })
            .then((response) => {
              Swal.fire({
                position: "top-end",
                icon: "success",
                title:
                  "Data " +
                  document.querySelector('[name="nama"]').value +
                  " telah diubah",
                showConfirmButton: false,
                timer: 1800,
              });

              setTimeout(() => {
                window.location.href = "/residents/";
              }, 2000);
            })
            .catch((error) => {
              document.querySelector("#button-submit").innerHTML = "Edit";

              let resError = "";
              if (typeof error.response.data.errorMessages === "object") {
                for (const key in error.response.data.errorMessages) {
                  if (error.response.data.errorMessages.hasOwnProperty(key)) {
                    resError +=
                      error.response.data.errorMessages[key] + "<br />";
                  }
                }
              } else {
                resError = error.response.data.errorMessages;
                console.log(resError);
              }

              Swal.fire({
                icon: "error",
                title: resError,
                showConfirmButton: true,
              });
            })
            .finally(() => {
              loadingDestroy();
            });
        });
    </script>
  </body>
</html>
