<!DOCTYPE html>
<html>
  <%- include('./head.html',{page_title: formulir_judul}); -%>

  <body>
    <%- include('./kop-surat.html',{formulir_judul: formulir_judul ,nomor :
    nomor_surat,kode_surat : kode_surat}); -%>
    <main>
      <div class="container">
        <div class="row mb-3">
          <p>
            Berdasarkan Surat Keterangan Rawat Inap dari <%= rumah_sakit %> Pada
            Hari <%= hari_tanggal_keterangan %>. Perihal Permohonan Surat
            Keterangan Keluarga Kurang Mampu Alamat <%= alamat_rt_rw %>, Desa
            Cipayung, Kecamatan Megamendung, Kabupaten Bogor, Yang di tanda
            tangani oleh Ketua RT / RW setempat.
          </p>
          <p class="my-3">
            Atas dasar tersebut di atas dengan ini kami menerangkan bahwa :
          </p>
          <table class="ms-1">
            <tr>
              <td>Nama</td>
              <td>: <%= nama %></td>
            </tr>
            <tr>
              <td>Tempat Tanggal Lahir</td>
              <td>: <%= tempat_tanggal_lahir %></td>
            </tr>
            <tr>
              <td>Jenis Kelamin</td>
              <td>: <%= jenis_kelamin %></td>
            </tr>
            <tr>
              <td>Alamat</td>
              <td>: <%= alamat %></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>NIK</td>
              <td>: <%= nik %></td>
            </tr>
          </table>
        </div>
        <div class="row">
          <p>
            Berdasarkan data Registrasi kependudukan yang ada di Kantor Desa
            Kami, Nama tersebut adalah benar Warga Desa Cipayung, Kecamatan
            Megamendung, Kabupaten Bogor, yang tergolong dalam Kategori
            <strong>KELUARGA KURANG MAMPU</strong>
          </p>
          <p>
            Surat keterangan ini dibuat sesuai permohonan yang bersangkutan,
            Untuk melengkapi persyaratan administrasi keringanan biaya
            <strong>
              <span class="text-uppercase"> <%= rumah_sakit %></span></strong
            >
          </p>
        </div>

        <p class="mb-5">
          Demikian surat keterangan ini di buat dengan sebenarnya untuk dapat di
          pergunakan sebagai mana mestinya.
        </p>
        <div class="text-center justify-content-center">
          <div class="row">
            <div class="col-6"><p>No Reg : <%= no_reg %></p></div>
            <div class="col-6"><p>Cipayung, <%= created_at %></p></div>
          </div>
          <div class="row">
            <div class="col-6"><p>Mengetahui,</p></div>
          </div>
          <div class="row">
            <div class="col-6">
              <p>CAMAT MEGAMENDUNG</p>
              <br />
              <br />
              <br />
              <br />
              <p class="fw-bold"><u>Drs.H.HADIJANA,S.Sos,M.Si</u></p>
            </div>
            <div class="col-6">
              <p>KEPALA DESA CIPAYUNG</p>
              <br />
              <br />
              <p class="text-muted">Materai 10.000</p>
              <br />
              <p class="fw-bold"><u>H. CACUH BUDIAWAN, SE</u></p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
