<!DOCTYPE html>
<html>
  <%- include('./head.html',{page_title: formulir_judul}); -%>

  <body>
    <%- include('./kop-surat.html',{formulir_judul: formulir_judul ,nomor :
    nomor_surat,kode_surat : kode_surat}); -%>
    <main>
      <div class="container">
        <div class="row border border-dark mb-2">
          <p>Perhatian :</p>
          <ol>
            <li>Harap diisi dengan huruf cetak dan menggunakan tinta hitam</li>
            <li>
              Untuk kolom pilihan, harap memberi tanda silang (X) pada kotak
              pilihan
            </li>
            <li>
              Setelah formulir ini diisi dan ditandatangani, harap diserahkan
              kembali ke kantor Desa/Kelurahan
            </li>
          </ol>
        </div>
        <div class="row mb-2">
          <table>
            <tr>
              <td>PEMERINTAH PROPINSI</td>
              <td class="border border-dark mx-1">3</td>
              <td class="border border-dark mx-1">2</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>
                <p>JAWA BARAT</p>
              </td>
            </tr>
            <tr>
              <td>PEMERINTAH KABUPATAN</td>
              <td class="border border-dark mx-1">0</td>
              <td class="border border-dark mx-1">1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>
                <p>BOGOR</p>
              </td>
            </tr>
            <tr>
              <td>KECAMATAN</td>
              <td class="border border-dark mx-1">2</td>
              <td class="border border-dark mx-1">6</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>
                <p>MEGAMENDUNG</p>
              </td>
            </tr>
            <tr>
              <td>KELURAHAN/DESA</td>
              <td class="border border-dark mx-1">2</td>
              <td class="border border-dark mx-1">0</td>
              <td class="border border-dark mx-1">0</td>
              <td class="border border-dark mx-1">6</td>
              <td>&nbsp;</td>
              <td>
                <p>CIPAYUNG</p>
              </td>
            </tr>
          </table>
        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
      </div>
    </main>
  </body>
</html>
