<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>RT - Kelor</title>
    <link href="/sb-admin-pro/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/kelor/favicon.png" />
    <script
      data-search-pseudo-elements
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="nav-fixed">
    <%- include('../../components/nav.html'); -%>
    <div id="layoutSidenav">
      <%- include('../../components/sidebars.html',{role: role}); -%>
      <div id="layoutSidenav_content">
        <main>
          <!-- Main page content-->
          <div class="container-xl px-4 mt-4">
            <div class="card mb-4">
              <div class="card-header">Daftar RT</div>
              <div class="card-body">
                <div class="d-flex justify-content-end">
                  <a class="btn btn-primary btn-sm" href="/rt/create">
                    <i data-feather="plus" class="me-2"></i>Tambah RT</a
                  >
                </div>
                <div class="table-responsive">
                  <table id="daftar_rt" class="display">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Dusun</th>
                        <th>RW</th>
                        <th>RT</th>
                        <th>Ketua RT</th>
                        <th>Jumlah Keluarga</th>
                        <th>Jumlah Penduduk</th>
                        <th>Aksi</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>No</th>
                        <th>Dusun</th>
                        <th>RW</th>
                        <th>RT</th>
                        <th>Ketua RT</th>
                        <th>Jumlah Keluarga</th>
                        <th>Jumlah Penduduk</th>
                        <th>Aksi</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <% rt.forEach((val, index)=>{ %>
                      <tr>
                        <td><%= index + 1 %></td>
                        <td><%= val.nama_dusun %></td>
                        <td><%= val.no_rw %></td>
                        <td><%= val.no_rt %></td>
                        <td><%= val.nama %></td>
                        <td><%= val.jumlah_keluarga %></td>
                        <td><%= val.jumlah_warga %></td>
                        <td>
                          <a
                            href="/rt/<%= val.rt_id %>/edit"
                            class="btn btn-primary"
                            >Lihat</a
                          >

                          <button
                            class="btn btn-danger"
                            onclick="removeRT('<%= val.rt_id %>')"
                          >
                            Hapus
                          </button>
                        </td>
                      </tr>
                      <%}) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </main>
        <%- include('../../components/footer.html'); -%>
      </div>
    </div>
    <%- include('./../../../layouts/javascript.html') %>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <script>
      new DataTable("#daftar_rt", {
        columnDefs: [{ targets: "_all", className: "dt-right" }],
      });
      function removeRT(id) {
        axios
          .delete(baseUrl + "/api/rt/" + id)
          .then((res) => {
            showSuccess("Berhasil dihapus");

            setTimeout(() => {
              location.reload();
            }, 1500);
          })
          .catch((error) => {
            showError(error);
          });
      }
    </script>
  </body>
</html>
