<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Warga - Kelor</title>
    <link href="/sb-admin-pro/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <script
      data-search-pseudo-elements
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="nav-fixed">
    <div id="layoutSidenav">
      <%- include('../../components/sidebars.html') -%>
      <div id="layoutSidenav_content" style="top: 0">
        <main>
          <!-- Main page content-->
          <div class="container-xl px-4 mt-3">
            <div class="card mb-4">
              <div class="card-header">Daftar Warga</div>
              <div class="card-body">
                <div class="d-flex justify-content-end">
                  <a class="btn btn-primary btn-sm" href="/residents/create">
                    <i data-feather="plus" class="me-2"></i>Tambah Warga</a
                  >
                </div>
                <table id="datatablesSimple">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>NIK</th>
                      <th>Nama</th>
                      <th>Tanggal Lahir</th>
                      <th>Jenis Kelamin</th>
                      <th>Pekerjaan</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>No</th>
                      <th>NIK</th>
                      <th>Nama</th>
                      <th>Tanggal Lahir</th>
                      <th>Jenis Kelamin</th>
                      <th>Pekerjaan</th>
                      <th>Aksi</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <% resident.forEach((val, index)=>{ %>
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= val.nik %></td>
                      <td><%= val.nama %></td>
                      <td><%= val.tanggal_lahir %></td>
                      <td><%= val.jenis_kelamin %></td>
                      <td><%= val.pekerjaan %></td>

                      <td>
                        <a
                          href="/residents/<%= val.nik %>/edit"
                          class="btn btn-warning"
                          >Edit</a
                        >

                        <button
                          class="btn btn-danger"
                          onclick="removeResident('<%= val.nik %>')"
                        >
                          Hapus
                        </button>
                      </td>
                    </tr>
                    <%}); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </main>
        <%- include('../../components/footer.html'); -%>
      </div>
    </div>
    <%- include('./../../../layouts/javascript.html') %>

    <script
      src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/sb-admin-pro/js/datatables/datatables-simple-demo.js"></script>
    <script>
      function removeResident(nik) {
        axios
          .delete(`/api/residents/${nik}`)
          .then((res) => {
            swal.fire({
              icon: "success",
              title: "Dihapus",
              showConfirmButton: false,
              timer: 1200,
            });
            setTimeout(() => {
              location.reload();
            }, 1500);
          })
          .catch((err) => {
            swal.fire({
              icon: "error",
              title: "Oops...",
              text: err.response.data.errorMessages,
            });
            console.log(err);
          });
      }
    </script>
  </body>
</html>
